{% extends "layout.html" %}
{% block body %}
<div class="col-xs-12">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="3" class="text-left">
                    <a href="{{url_for('.devices')}}" class="btn btn-link btn-block clearfix"><span class="pull-left fa fa-chevron-left"></span></a>
                </td>
            </tr>
            {%for key, value in device.iteritems()%}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
{% endblock %}