{% extends "layout.html" %}
{% block body %}
{% set middle_visible = (devices|length / 2)| round(0,'ceil') | int%}

<p class="text-center">
    <button class="btn btn-default" type="button" id="refresh-dashboard"><i class="fa fa-refresh"></i></button>
</p>

<div class="col-xs-12 {%if col_length > 1%}col-sm-6{%endif%} {%if col_length > 2%}col-md-4{%endif%}">
    <ul class="list-group vox-blf-dashbord">
    {% for d in devices%}
        {% set view_md_start = 1 * item_per_lst%}
        {% set view_md_end = view_md_start + item_per_lst%}
        <li id="{{d.id}}" class="list-group-item  {%if session['user']['internalExtension'] == d.extension%}info{%endif%} visible-xs
            {% if loop.index <= middle_visible%}visible-sm{%endif%}
            {% if loop.index <= view_md_start and loop.index <= view_md_end %}visible-md visible-lg{%endif%}
        ">
            <div class="row">
                <div class="col-xs-2 icon-blf-state">
                    <i class="{{d.icon_class}}" data-toggle="tooltip" title="{{d.state_description}}"></i>
                </div>
                <div class="col-xs-8 callable blf-name">
                    <button role="button" class="btn btn-link btn-block text-left">{{d.extension}}</button>
                </div>
                <div class="col-xs-2 blf-info text-right">
                    <a href="{{url_for('DEVICES.device_view', **{'device_id':d.id})}}" role="button" class="btn btn-link pull-right"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

{%if col_length > 1%}
<div class="col-xs-12 col-sm-6 {%if col_length > 2%}col-md-4{%endif%} hidden-xs">
    <ul class="list-group vox-blf-dashbord">
    {% for d in devices%}
        {% set view_md_start = 1 * item_per_lst%}
        {% set view_md_end = view_md_start + item_per_lst%}
        <li id="{{d.id}}" class="list-group-item  {%if session['user']['internalExtension'] == d.extension%}info{%endif%} 
            {% if loop.index > middle_visible%}visible-sm {%else%} hidden {%endif%} 
            {% if loop.index > view_md_start and loop.index <= view_md_end %}visible-md visible-lg{%endif%}
        ">
            <div class="row">
                <div class="col-xs-2 icon-blf-state">
                    <i class="{{d.icon_class}}" data-toggle="tooltip" title="{{d.state_description}}"></i>
                </div>
                <div class="col-xs-8 callable blf-name">
                    <button role="button" class="btn btn-link btn-block text-left">{{d.extension}}</button>
                </div>
                <div class="col-xs-2 blf-info text-right">
                    <a href="{{url_for('DEVICES.device_view', **{'device_id':d.id})}}" role="button" class="btn btn-link pull-right"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{%endif%}

{%if col_length > 2%}
<div class="col-xs-12 col-sm-6 col-md-4 visible-md visible-lg">
    <ul class="list-group vox-blf-dashbord">
    {% for d in devices%}
        {% set view_md_start = 2 * item_per_lst%}
        {% set view_md_end = view_md_start + item_per_lst%}
        <li id="{{d.id}}" class="list-group-item  {%if session['user']['internalExtension'] == d.extension%}info{%endif%} 
            {% if loop.index > view_md_start and loop.index <= view_md_end%}visible-sm visible-md visible-lg {%else%} hidden {%endif%}
            
        ">
            <div class="row">
                <div class="col-xs-2 icon-blf-state">
                    <i class="{{d.icon_class}}" data-toggle="tooltip" title="{{d.state_description}}"></i>
                </div>
                <div class="col-xs-8 callable blf-name">
                    <button role="button" class="btn btn-link btn-block text-left">{{d.extension}}</button>
                </div>
                <div class="col-xs-2 blf-info text-right">
                    <a href="{{url_for('DEVICES.device_view', **{'device_id':d.id})}}" role="button" class="btn btn-link pull-right"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{%endif%}


{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='res/animate.min.css')}}">
{% endblock %}

{% block jsscript %}
    <script>
        {%if devices|length%}
        var STATES_TRANSLATE ={ {%for lg in devices[0]._DESCRIPTION.keys() %}
            '{{lg}}':{ 
                {%for k in devices[0]._DESCRIPTION[lg].keys() %}'{{k}}': "{{devices[0]._DESCRIPTION[lg][k]}}",{%endfor%}
            },{%endfor%}
        {%endif%}
        }
    </script>
    <script src="{{url_for('static', filename='js/devices.js')}}"></script>
{% endblock %}
