{% extends "layout.html" %}
{% block body %}
<div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
    <p class="text-right">
        <button class="btn btn-primary" disabled="disabled"><i class="fa fa-plus"></i></button>
    </p>
    <p>
        <h4>Recherche</h4>
        <form method="GET" action="{{url_for('CONTACT.search')}}">
          <div class="input-group">
                {% if search_mode%}
                <span class="input-group-btn">
                    <a class="btn btn-default" role="button" href="{{url_for('CONTACT.view')}}"><i class="fa fa-times text-danger"></i></a>
                </span>
                {%endif%}
                <input type="text" class="form-control" placeholder="Search for by name" name="name" {%if search_mode%}value="{{form_value['name']}}"{%endif%}>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </p>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
                <th>
                    {% if not search_mode %}
                    <div class="dropdown" >
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            {{item}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            {% for i in items%}
                            <li {% if i == item%} class="active" {%endif%}><a href="?item={{i}}">{{i}}</a></li>
                            {% endfor %}
                            <li role="separator" class="divider"></li>
                            <li {% if item == 'all' %} class="active" {%endif%}><a href="./">All</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </th>
                <th class="text-center">Name</th>
                <th class="text-center">Phone</th>
                <th class="text-center">Mobile</th>
                <th class="text-center">Mail</th>
                <th width="1%"></th>
            </thead>
            <tbody>
                {% for c in contacts%}
                <tr>
                    <td colspan="2">
                        {{c['cn']}}
                    </td>
                    <td {%if c.telephone_number%}class="callable"{%endif%}{% if c.phone_number_raccourci %} title="click2call - {{c.phone_number_raccourci}}"{% endif %}>
                        {{c.telephone_number}}
                        
                    </td>
                    <td {%if c.mobile%}class="callable"{%endif%} {% if c.phone_mobile_raccourci %} title="click2call - {{c.phone_mobile_raccourci}}"{% endif %}>
                        {{c.mobile}}
                    </td>
                    <td>
                        <a href="mailto:{{c.mail}}">{{c.mail}}</a>

                    </td>
                    <td>
                        <button class="btn btn-default" disabled="disabled"><i class="fa fa-edit"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="active">
                    <td>
                        {% if  item != 'all' %}
                            <strong>view</strong> : 
                            {{(pager['current'] * item ) - item + 1}} - 
                            {% if pager['current'] * item < contact_total%}
                                {{pager['current'] * item}}
                            {%else%}
                                {{contact_total}}
                            {% endif %}

                        {% endif %}
                    </td>
                    <td colspan="2"></td>
                    <td colspan="2" class="text-right">
                        <strong>Total</strong>
                    </td>
                    <td>
                        {{contact_total}}
                    </td>
                </tr>
            </tfoot>
        </table>        
    </div>
    {% if item != 'all'%}
        <nav class="text-center">
            <ul class="pagination">
                <li>
                  <a href="?item={{item}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% if not pager['min'] < pager['start'] %}
                <li class="disabled"><a >...</a></li>
                {%endif%}
                </li>
                {% for i in range(pager['start'], pager['end'] + 1) %}
                    <li {%if i == pager['current']%}class="active"{%endif%}><a href="?item={{item}}&page={{i}}">{{i}}</a></li>
                {%endfor%}
                {% if pager['max'] > pager['end'] %}
                <li class="disabled"><a >...</a></li>
                {%endif%}
                <li>
                  <a href="?item={{item}}&page={{pager['max']}}">
                    <span aria-hidden="{{true}}">&raquo;</span>
                  </a>
                </li>
            </ul>
        </nav>


    {%endif%}
</div>
{% endblock %}