{% extends "public/layout.html" %}

{% block body %}
<div class="container">
    <div class="alert alert-danger">
        <strong><i class="fa fa-warning"></i> Version &beta;eta</strong><br>
        Ce projet est encore au stade de développement, le projet est suffisamment stable pour être proposé en test à plusieurs utilisateurs, mais il peut encore y avoir des bugs. Je vous demande donc d'être patient avant une version Final
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <h2>Développement</h2>
            <p class="text-justify">
                Le projet vous est proposé par <strong>THIVOLLE-CAZAT C</strong>édric . Le développement a commencé en février 2016 avec les ressources public proposé par l'API Voxity. Une première version &beta;eta publique a été lancé en mars 2016. Cette première version à validé par la société Voxity.
            </p>
            <p class="text-justify">
                Le projet utilise presque l'ensemble des fonctionnalités proposées par l'API Voxity. Aucune information Personnel n'est stockée sur ce projet.
            </p>
        </div>

        <div class="col-xs-12 col-md-4">
            <h2>Exploitation</h2>
            <p class="text-justify">
                Le projet est libre, vous pouvez donc installer ce projet sur vos propres serveurs, ou même sur votre propre machine. Une documentation et des fichiers de déploiement sont fournis dans le projet
            </p>
            <p class="text-justify">
                Une documentation d'installation vous est proposée. Actuellement déployer sur un serveur Apache2, il peut être exploité sur d'autres services pouvant être capable d'interpréter une application web Python
            </p>
            
        </div>

        <div class="col-xs-12 col-md-4">
            <h2>Contribution</h2>
            <p class="text-justify">
                À plusieurs Niveaux, vous pouvez simplement remonter des dysfonctionnements, améliorations ou nouvelles fonctionnalités via l'outil Github. Ou, si vous avez dans votre panel de compétences de connaissance en développement web <em class="small text-muted">(Python, html, css, Jquery)</em>, vous pouvez proposer des correctifs toujours via l'outil Github.
            </p>
            <p class="text-center">
                <a href="https://github.com/thivolle-cazat-cedric/vox-ui-api" class="btn btn-default" target="_blank"><i class="fa fa-github-square fa-fw"></i> Github - vox-ui-api</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2>Informations utiles</h2>
            <p>
                Le projet est en relations avec la solution Voxity, il est développé par un salarié de la société, mais a titre personnel. Ce projet n'est donc ni maintenu, ni fourni par l'équipe Voxity. En cas de dysfonctionnements, ou demande particulière autour de l'application, il est, en aucun cas, utile de contacter la société. Ce projet est,  pour le moment, maintenu par une personne sur du temps libre, aucune garantie de fonctionnement, de traitement des demandes ne peuvent être garantis. 
            </p>
            <p>
                Si vous souhaitez faire une remontée de bug, ou demande de fonctionnalité, il faut utiliser l'outil Github. Cette plate-forme est gratuite, mais pour effectuer des demandes, il vous faut créer un compte.
            </p>
            <p>
                Un formulaire de contact sera peut-être implémenté dans la suite du projet 
            </p>
        </div>
    </div>
</div>
{% endblock %}
