{% extends "layout.html" %}
{% block body %}

<div class="col-xs-12 col-md-6">
    <h2> Informations</h2>
    <hr>
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <i class="{{device.icon_class}} fa-fw"></i> &nbsp; {{device.extension}}
            </h4>
        </div>
        <div>
            <div class="panel-body">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{device.id}}</td>
                    </tr>
                    <tr>
                        <td>State</td>
                        <td>{{device.state_desc}}</td>
                    </tr>
                    <tr>
                        <td>Last update</td>
                        <td>{{device.last_update}}</td>
                    </tr>
                    <tr>
                        <td>User Agent</td>
                        <td>{{device.useragent}}</td>
                    </tr>
                    <tr>
                        <td>Enregistrement SIP</td>
                        <td>
                            {% if device.ipaddr %}
                                {{device.ipaddr}}:{{device.port}} ({{device.lastms}}ms)
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
               
            </div>
        </div>
    </div>

</div>

<div class="col-xs-12 col-md-6">
    <h2>Appel en cours <span class="label label-primary pull-right">{{calls|length}}</span></h2>
    <hr>
    
    <ul class="list-group">
    {% for c in calls %}
            {%if c.is_incomming_call() %}
                {% set fa_class='fa-arrow-down'%}
                {% set direction_class='list-group-item-warning'%}
                {% set name=c.caller_name%}
                {% set num=c.caller_num%}
            {% else %}
                {% set fa_class='fa-arrow-up'%}
                {% set direction_class='list-group-item-info'%}
                {% set name=c.callee_num or c.caller_name%}
                {% set num=c.caller_num%}
            {% endif %}
            <li class="list-group-item {{direction_class}}" id="call-{{c.id}}">
                {% if c.get_icon_stat()%}<i class="{{c.get_icon_stat()}}"></i>{% endif %} &nbsp;
                <span data-whois-num="{{num}}" data-whois-suf="  -  "></span> {{num | num_clear_format(space=True)}}
                {%if name | num_clear_format(space=False) != num | num_clear_format(space=False)%}
                    <small> < {{name}} ></small>
                {%endif%}
                <span class="pull-right">
                    <sub><i class="fa fa-phone"></i></sub><sup><i class="fa {{fa_class}}"></i></sup>
                </span>
            </li>
    {% endfor %}
    </ul>

</div>
{% endblock %}

{%block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='res/animate.min.css')}}">
{%endblock%}

