{% extends "layout.html" %}
{% block csss %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jqc-1.12.3/dt-1.10.12/r-2.1.0/datatables.min.css"/>
{%endblock%}
{% block body %}
{% set middle_visible = (devices|length / 2)| round(0,'ceil') | int%}

<div class="col-xs-12 text-right">

    <div class="row">
        <div class="col-xs-12 text-right col-offset-sm-2 col-sm-10">
            <div class="btn-group">
                <button type="button" class="btn btn-default" id="show-contact" data-toggle="tooltip" title="Contacts">
                    <i class="fa fa-users"></i>
                </button>
                <button type="button" class="btn btn-default" id="show-channels" data-toggle="tooltip" title="Appels en cours">
                    <i class="fa fa-volume-control-phone"></i>
                </button>
                <button type="button" class="btn btn-default active" id="channels-auto-refresh" data-toggle="tooltip" title="Actualisation automatique">
                    <i class="fa fa-check-square-o"></i>
                </button>
            </div>
        </div>
    </div>
<hr>
</div>
<div class="col-xs-12 {%if col_length > 1%}col-sm-6{%endif%} {%if col_length > 2%}col-md-4{%endif%}">
    <ul class="list-group vox-blf-dashbord">
    {% for d in devices%}
        {% set view_md_start = 1 * item_per_lst%}
        {% set view_md_end = view_md_start + item_per_lst%}
        <li id="{{d.id}}" class="list-group-item  {%if session['user']['internalExtension'] == d.extension%}list-group-item-info{%endif%} visible-xs
            {% if loop.index <= middle_visible%}visible-sm{%endif%}
            {% if loop.index <= view_md_start and loop.index <= view_md_end %}visible-md visible-lg{%endif%}
        ">
            <div class="row">
                <div class="col-xs-2 icon-blf-state">
                    <i class="{{d.icon_class}}" data-toggle="tooltip" title="{{d.state_description}}"></i>
                </div>
                <div class="col-xs-8 {%if d.id%}callable {%endif%}blf-name">
                    <button role="button" class="btn btn-link btn-block text-left" {%if not d.id%}disabled{%endif%}>{{d.extension}} - {{d.name}}</button>
                </div>
                <div class="col-xs-2 blf-info text-right">
                    {%if d.id %}
                    <a href="{{url_for('DEVICES.device_view', **{'device_id':d.id})}}" role="button" class="btn btn-link pull-right"><i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>

{%if col_length > 1%}
<div class="col-xs-12 col-sm-6 {%if col_length > 2%}col-md-4{%endif%} hidden-xs">
    <ul class="list-group vox-blf-dashbord">
    {% for d in devices%}
        {% set view_md_start = 1 * item_per_lst%}
        {% set view_md_end = view_md_start + item_per_lst%}
        <li id="{{d.id}}" class="list-group-item  {%if session['user']['internalExtension'] == d.extension%}list-group-item-info{%endif%} 
            {% if loop.index > middle_visible%}visible-sm {%else%} hidden {%endif%} 
            {% if loop.index > view_md_start and loop.index <= view_md_end %}visible-md visible-lg{%endif%}
        ">
            <div class="row">
                <div class="col-xs-2 icon-blf-state">
                    <i class="{{d.icon_class}}" data-toggle="tooltip" title="{{d.state_description}}"></i>
                </div>
                <div class="col-xs-8 {%if d.id%}callable {%endif%}blf-name">
                    <button role="button" class="btn btn-link btn-block text-left" {%if not d.id%}disabled{%endif%}>{{d.extension}}({{session['user']['internalExtension']}}) - {{d.name}}</button>
                </div>
                <div class="col-xs-2 blf-info text-right">
                    {%if d.id %}
                    <a href="{{url_for('DEVICES.device_view', **{'device_id':d.id})}}" role="button" class="btn btn-link pull-right"><i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{%endif%}

{%if col_length > 2%}
<div class="col-xs-12 col-sm-6 col-md-4 visible-md visible-lg">
    <ul class="list-group vox-blf-dashbord">
    {% for d in devices%}
        {% set view_md_start = 2 * item_per_lst%}
        {% set view_md_end = view_md_start + item_per_lst%}
        <li id="{{d.id}}" class="list-group-item  {%if session['user']['internalExtension'] == d.extension%}list-group-item-info{%endif%} 
            {% if loop.index > view_md_start and loop.index <= view_md_end%}visible-sm visible-md visible-lg {%else%} hidden {%endif%}
            
        ">
            <div class="row">
                <div class="col-xs-2 icon-blf-state">
                    <i class="{{d.icon_class}}" data-toggle="tooltip" title="{{d.state_description}}"></i>
                </div>
                <div class="col-xs-8 {%if d.id%}callable {%endif%}blf-name">
                    <button role="button" class="btn btn-link btn-block text-left" {%if not d.id%}disabled{%endif%}>{{d.extension}} - {{d.name}}</button>
                </div>
                <div class="col-xs-2 blf-info text-right">
                    {%if d.id %}
                    <a href="{{url_for('DEVICES.device_view', **{'device_id':d.id})}}" role="button" class="btn btn-link pull-right"><i class="fa fa-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
{%endif%}

<!-- Modal -->
<div class="modal fade" id="main-modal" tabindex="-1" role="dialog" aria-labelledby="mm-head" data-view="">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="mm-head">Modal title</h4>
            </div>
            <div class="modal-body" style="padding:1àpx;">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-toggle="tooltip" title="Actualiser" id="mm-refresh"><i class="fa fa-refresh"></i></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='res/animate.min.css')}}">
{% endblock %}

{% block jsscript %} 
    <script>
        {%if devices|length%}
        var STATES_TRANSLATE ={ {%for lg in devices[0]._DESCRIPTION.keys() %}
            '{{lg}}':{ 
                {%for k in devices[0]._DESCRIPTION[lg].keys() %}'{{k}}': "{{devices[0]._DESCRIPTION[lg][k]}}",{%endfor%}
            },{%endfor%}
        {%endif%}
        }
    </script>
    <script src="{{url_for('DEVICES.static', filename='js/devices.js')}}"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.12/datatables.min.js"></script>

{% endblock %}
