{% extends "public/layout.html" %}

{% block body %}
<div class="container-fluid">
    <div class="col-md-3 hidden-sm hidden-xs">
        <div class="list-group">
          <a href="#Notifications" class="list-group-item"><i class="fa fa-bell-o fa-fw"></i> Notifications</a>
          <a href="#Dashboard" class="list-group-item"><i class="fa fa-dashboard fa-fw"></i> Tableau de bord</a>
          <a href="#click2call" class="list-group-item">
            <i class="fa fa-mouse-pointer"></i>
            <sup style="margin-left: -4px;"><i class="fa fa-phone fa-fw"></i></sup>
            Click2call & Génération d'appel</a>
          <a href="#contacts" class="list-group-item"><i class="fa fa-users fa-fw"></i> Contacts</a>
          <a href="#shortcut" class="list-group-item"><i class="fa fa-keyboard-o fa-fw"></i> Raccourcis clavier</a>
        </div>
    </div>
    <div class="col-xs-12 col-md-9">

        <div class="features" id="Notifications">
            <h1 class="head" id="Notifications"> Notifications</h1>
            <div class="caption">
                <h4>Notifications local</h4>
                <p class="caption">
                    Interne à la page web, lors d'une notification un popup en bas de page s'affichera indiquant la raison de cette aparirion.
                </p>
                <h4>Notification de bureau</h4>
                <p class="caption">
                    Pour les navigateurs compatibles au notification de bureau <em class="small text-muted">(Chrome, Firefox, Safari)</em>, il vous suffi d'avoir une page ouverte <em class="small text-muted">(pas forcément active dans votre navigateur)</em>, et lors d'une notification elle apparaitra sur votre ordinateur.
                </p>

                <h4>Quelles-sont les Notifications</h4>
                <div class="caption">
                    <h5 >Lors d'une appel entrant</h5>
                    <p class="caption">
                        Vous allez connaitre le numéro de l'appelant, et si ce numéro est présent dans votre l'annuaire de l'application, vous connaiterez le nom.
                    </p>
                </div>
            </div>
        </div>
        
        <hr>

        <div class="features" id="Dashboard">
            <h1 class="head" id="Notifications"> Tableau de bord</h1>

            <div class="caption">
                Le tableau de bord vous permet d'avoir une vue d'ensemble de votre parc téléphonique Voxity. Vous connaiterez donc l'état des postes
                <h4>Légende</h4>
                <p class="cation">
                    <dl class="dl-horizontal">
                        <dt><i class="fa fa-2x fa-fw fa-phone-square text-muted"></i></dt>
                            <dd>Poste non connecté à la plate-forme voxity</dd>
                        <dt><i class="fa fa-2x fa-fw fa-phone-square text-success"></i></dt>
                            <dd>Poste connecté et disponible</dd>
                        <dt><i class="fa fa-2x fa-fw fa-phone-square text-danger animated infinite flash"></i></dt>
                            <dd>Le poste est en train de sonné, ou est en train de lancer un appel</dd>
                        <dt><i class="fa fa-2x fa-fw fa-phone-square text-danger"></i></dt>
                            <dd>Poste en ligne</dd>
                        <dt><i class="fa fa-2x fa-fw fa-question-circle text-muted"></i></dt>
                            <dd>État inconnu</dd>
                    </dl>
                </p>
                <p>
                    Lorsque vous cliquez sur une extension, vous généré un clik2call, si vous cliqué sur la fléche <button class="btn-link btn" type="button"><i class="fa fa-chevron-right"></i></button>, vous aurez le détail du poste ainsi que ces lignes en cours <em class="small text-muted">(dans le cas ou vous etes administrateur)</em>
                </p>
            </div>
        </div>

        <hr>

        <div class="features" id="click2call">
            <h1>Click2call & Génération d'appel</h1>
            <div class="caption">
                <h4>Click2call</h4>
                <p class="caption">
                    Retrouvez la même fonctionnalité que l'application client.voxity.fr, chaque numéros soulignés vous permez de générer une appel. Cliquer sur le numéro, votre poste sonnera, si vous répondez, l'appel sera propagé et vous serez mis en relation avec votre corespondant
                </p>
                <h4>Génération d'appel</h4>
                <p class="caption">
                    Vous pouvez également composer un numéro depuis l'interface. cliquer sur l'icon <button class="btn btn-link"><i class="fa fa-phone"></i></button> <em class="small text-muted">en haut de la page</em>, ou appuyer sur votre touche <kbd>c</kbd>. Un formulaire aparaitera, entrez le numéro et généré vottre appel en cliquant sur <button class="btn btn-success btn-xs"><i class="fa fa-chevron-right"></i></button>. <br>
                    La suite est la même pour que le click2call, l'appel sera émit seulement si vous répondez à l'appel
                </p>
            </div>
        </div>

        <hr>

        <div class="features" id="contacts">
            <h1>Contacts</h1>

            <div class="caption">
                Vous retrouverez l'ensemble de vos contacts dans stocker dans l'annuaire partagé Voxity. Vous porrez donc chercher des contacts. C'est grace a cette annuaire que les notifications affiche un nom en plus du numéro. 
            </div>
        </div>

        <hr>

        <div class="features" id="shortcut">
            <h1>Raccourcis clavier</h1>

            <div class="caption">
                <p>
                    Dans toutes les page vous disposez de raccourcie clavier.
                </p>
                <dl class="dl-horizontal">
                    <dt><kbd>r</kbd></dt>
                        <dd>Sur le dashbord, permet de rafréchire l'état des postes</dd>
                    <dt><kbd>c</kbd></dt>
                        <dd>Affiche la fenêtre pour composer un numéro</dd>
                    <dt><kbd>h</kbd></dt>
                        <dd>Retour au tableau de bord</dd>
                    <dt><kbd>esc</kbd></dt>
                        <dd>Retrir les filtres de recherche <em class="small-text-muted">lors d'une recherche de contact</em></dd>
                </dl>
                
            </div>
        </div>
            
    </div>
</div>
{%endblock%}
{%block css%}
    <link rel="stylesheet" href="{{url_for('static', filename='res/animate.min.css')}}">
{%endblock%}