<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="THIVOLLE-CAZAT Cédric">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>vox-ui-api</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{url_for('static', filename='res/bootstrap/dist/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='res/toastr/build/toastr.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='res/Font-Awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/public.css')}}">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="apple-touch-icon" href="{{url_for('static', filename='icon/app/75-icon_app.png')}}"> 
        <link rel="icon" href="{{url_for('static', filename='icon/fav/vox-ui-api.ico')}}">
        {% block css %}{% endblock %}

    </head>
    <body>
        {% if 'user' in session%}
        <div class="btn-group" id="user-link">
            <a href="{{url_for('ACCOUNT.signin_check')}}" class="btn btn-default">
                <span data-toggle="tooltip" data-placement="bottom" title="{{session['user']['internalExtension']}}">{{session['user']['name']}}</span> 
                <span class="fa-stack">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-user fa-stack-1x"></i>
                </span>
            </a>
            <a href="{{url_for('ACCOUNT.logout_me')}}" class="btn btn-default">
                <i class="fa fa-power-off text-danger"></i>
            </a>
        </div>
            
        {% else %}
        <a href="{{url_for('ACCOUNT.signin')}}" class="btn btn-default" id="user-link">
            <span>Login</span> 
            <i class="fa fa-sign-in"></i>
        </a>
        {% endif %}
        <a href="{{url_for('PUBLIC.changelog')}}" class="label label-danger version-tag" data-toggle="tooltip" title="{{config['__VERSION__']}}" data-placement="left">&beta;eta</a>
        {% if request.path not in ['/', '/index.html']%}
        <div class="header clearfix">
            <h3 class="text-muted">
                <a href="{{url_for('PUBLIC.index')}}">
                    <img src="{{url_for('static', filename='icon/fav/75-vox-ui-api.png')}}" alt="" class="img img-logo">
                    <span class="hidden-xs">Vox-ui-api</span>
                </a>
            </h3>

            <nav>
                <ul class="nav nav-pills pull-left">
                    <li class="disabled">
                        <a href="#">
                            <i class="fa fa-cogs fa-fw"></i> 
                             <span class="hidden-sm hidden-xs">Fonctionnalités</span>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li {% if url_for('PUBLIC.changelog') == request.path %}class="active"{% endif %}>
                        <a href="{{url_for('PUBLIC.changelog')}}">
                            <i class="fa fa-tags fa-fw"></i> 
                             <span class="hidden-sm hidden-xs">Change Log</span>
                        </a>
                    </li>

                     <li {% if url_for('PUBLIC.about') == request.path %}class="active"{% endif %}>
                        <a href="{{url_for('PUBLIC.about')}}">
                            <i class="fa fa-info-circle fa-fw"></i> 
                             <span class="hidden-sm hidden-xs">À propos</span>
                        </a>
                    </li>

                    <li class="disabled">
                        <a href="#">
                            <i class="fa fa-book fa-fw"></i> 
                             <span class="hidden-sm hidden-xs">Documentation</span>
                        </a>
                    </li>
            </nav>
        </div>
        {% endif %}

        {% block body %}{% endblock %}

        {% include 'footer.html'%}
        <script src="{{url_for('static', filename='res/jquery-1.12.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='res/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/public.js')}}"></script>
        {% block js %}{% endblock %}

    </body>
</html>
