{% extends "layout.html" %}
{% block body %}
<div class="col-xs-12">
    <div class="jumbotron">
        <div class="alert alert-danger" role="alert">
            <h1 class=""><span class="text-danger"> {%if error_icon%}&{{error_icon}};{%endif%} <small>Error</small> {{error_code}} </span></h1>
        </div>
        <p class="lead">
           {%block leadmessage%}{%endblock%}
        </p>
        <p class="text-center">
            {%if link_to_home%}
                <a class="btn btn-lg btn-success" href="{{url_for('ACCOUNT.signin')}}?next={{request.path}}" role="button">Résayer <i class="fa fa-refresh"></i></a>
                <br>
                <small class="text-muted">Vous aller actualiser votre authentification</small>
            {%endif%}
            {% block leadlink%}{%endblock%}
        </p>
      </div>
</div>
{% endblock %}