{% extends "layout.html" %}
{% block body %}
<div class="col-xs-12">
    <h3 class="text-danger"> <i class="fa fa-exclamation-triangle fa-fw"></i> Suppresion de contact : {{contact.cn}}</h3>
    <hr>
    <p>
        Vous etes sur le point de supprimer le contact <strong>{{contact.cn}}</strong>
        <dl class="dl-horizontal">
            {%if contact.telephone_number %}
            <dt data-toggle="tooltip" title="Téléphone principal"><i class="fa fa-phone fa-2x"></i></dt>
            <dd>
                {{contact.telephone_number}} {%if contact.phone_number_raccourci%}  - {{contact.phone_number_raccourci}}{%endif%}
            </dd>
            {% endif %}
            {%if contact.mobile %}
            <dt data-toggle="tooltip" title="Téléphone secondaire"><i class="fa fa-mobile fa-2x"></i></dt>
            <dd>
                {{contact.mobile}} {%if contact.phone_mobile_raccourci%} {{contact.phone_mobile_raccourci}}{%endif%}
            </dd>
            {% endif %}
             {%if contact.mail %}
            <dt data-toggle="tooltip" title="Téléphone secondaire"><i class="fa fa-envelope fa-2x"></i></dt>
            <dd>
                {{contact.mail}} {%if contact.phone_mobile_raccourci%} <{{contact.phone_mobile_raccourci}}>{%endif%}
            </dd>
            {% endif %}
        </dl>
    </p>
    <div class="alert alert-danger">
        <strong>Attention ! </strong><br>
        Cette action est irevessible, il ne vous sera pas possible de récuperer ce contact une fois la supression validé. <br>
        Pour rappel depuis l'interface <a href="https://client.voxity.fr/" target="_blank">client.voxity.fr</a> il vous est possible d'exporter l'ensemble de votre annuaire sous format CSV.
    </div>
    <form action="" method="POST" class="text-center">
        <input type="hidden" name="uid" value="{{contact.uid}}">
        <button type="submit" class="btn btn-danger">Supprimer <i class="fa fa-trash-o"></i></button>
    </form>
</div>
{% endblock %}